.ct{
  text-align: justify;
  background-color:#04aa6d;
  display: flex;
  padding-left: 10px;
  gap: 100px;
}
  form {
    margin-top: 70px;
  }
  
  label {
    color: aliceblue;
    margin-left: 20px;
  }
  input {
    margin-left: 10px;
  }
  
  button {
    border:black;
    margin-left: 200px;
    margin-top: 20px;
    text-decoration: underline;
    padding: 10px 30px;
    background-color: #04aa6d;
    color: black;
    background-color: #4caf50;
    color: white;
    margin-left: 5px;
  }
  
  .footer{
    color: white;
  }
  .main {
    color: white;
    gap: 40 px;
  }
  .root {
    color: white;
    gap: 40px;
  }
h4{
  color:darkred;
}
  