
  form {
    margin-top: 70px;
  }
  
  label {
    color: aliceblue;
    margin-left: 20px;
  }
  input {
    margin-left: 10px;
  }
  
  button {
    border: none;
    margin-left: 200px;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #04aa6d;
    color: white;
  }
  
  .footer{
    color: white;
  }
  .main {
    color: white;
  }
  .root {
    color: white;
  }
  